<div class="container-fluid" style="z-index: 2000; position: absolute; top: 0">
    <div class="row altura-topo">
        <div class="col-md-2 col-sm-2 col-2 bkg-verde"></div>
        <div class="col-md-1 col-sm-1 col-1">
            <div class="row altura-topo">
                <div class="col-md-10 col-sm-10 col-10 coluna-topo bkg-roxo"></div>
                <div class="col-md-2 col-sm-2 col-2 coluna-topo bkg-laranja"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-1">
            <div class="row altura-topo">
                <div class="col-md-12 col-sm-12 col-12 coluna-topo bkg-laranja"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-1">
            <div class="row altura-topo">
                <div class="col-md-10 col-sm-10 col-10 coluna-topo bkg-laranja"></div>
                <div class="col-md-2 col-sm-2 col-2 coluna-topo bkg-rosa"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-1">
            <div class="row altura-topo">
                <div class="col-md-8 col-sm-8 col-8 coluna-topo bkg-rosa"></div>
                <div class="col-md-4 col-sm-4 col-4 coluna-topo bkg-verde"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-1 bkg-verde"></div>
        <div class="col-md-1 col-sm-1 col-1">
            <div class="row altura-topo">
                <div class="col-md-4 col-sm-4 col-4 coluna-topo bkg-verde"></div>
                <div class="col-md-8 col-sm-8 col-8 coluna-topo bkg-roxo"></div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1 col-1 bkg-roxo"></div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1">
            <div class="row altura-topo">
                <div class="col-md-4 col-sm-4 col-4 coluna-topo bkg-roxo"></div>
                <div class="col-md-8 col-sm-8 col-8 coluna-topo bkg-laranja"></div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1">
            <div class="row altura-topo">
                <div class="col-md-2 col-sm-2 col-2 coluna-topo bkg-laranja"></div>
                <div class="col-md-10 col-sm-10 col-10 coluna-topo bkg-rosa"></div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1 bkg-rosa"></div>
    </div>
</div>
<div id="caixa-topo">
    <div class="container">
        <nav class="navbar navbar-expand-md" id="menu-principal">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button class="navbar-toggler" style="color: red" type="button" data-toggle="collapse" 
                            data-target="#navbarContent" aria-controls="navbarContent" 
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a href="{{ path('site_homepage') }}" class="navbar-brand" id="logo">
                        <img src="{{ asset('imagens/logo.png') }}" class="img mh-100" /></a>
                </div>
                <div class="collapse navbar-collapse float-right of-serif-itc" id="navbarContent">
                    <ul class="navbar-nav" id="menu">
                        <li class="nav-item">
                            <a class="nav-link" href="#integra">INTEGRA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-href="#ana-paula-mukarzel">ANA PAULA MUKARZEL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-href="#especialidades">ESPECIALIDADES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('site_blog') }}">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-href="#contato">CONTATO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>