{% extends "base.html.twig" %}
        {% block conteudo %}
        <div class="container-fluid" style="min-height: 100%;">
            <div class="row text-center">
                <div class="col-md-12 mt-5 pt-5">
                    <h3 id="titulo-cognicao">ESPECIALIDADES</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-8 offset-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend augue ac tincidunt suscipit. 
                        Nunc sollicitudin mattis faucibus. Vivamus rhoncus viverra risus, sed pellentesque nulla congue nec. 
                        Fusce venenatis, odio vitae viverra porta, risus elit mollis eros, sed tincidunt lorem dolor id nisl. 
                        Nullam cursus arcu ut porta placerat. Fusce sit amet commodo ipsum, quis pulvinar purus. 
                        Curabitur risus urna, vehicula id convallis vitae, aliquet id diam. Cras id nulla a tellus malesuada 
                        vestibulum non ac arcu. Sed eu gravida nibh, et luctus arcu. Sed quam sapien, mollis ut ante in, aliquam aliquam libero.</p>
                    <br />
                </div>
            </div>
        </div>
        {% endblock %}