{% extends "base.html.twig" %}
{% block conteudo %}
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                BANNER
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-md-2">
                        <img src="holder.js/200x200" class="img rounded-circle" />
                    </div>
                    <div class="col-md-8 d-inline-block" style="padding-top: 3%">
                        <h4>ANA PAULA MUKARZEL</h4>
                        <p class="align-middle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Cras id dolor varius, sodales tellus vehicula, iaculis mi. Sed sit amet neque interdum, mollis magna nec, commodo ante. 
                            Etiam ut tortor nec massa congue sollicitudin a eu risus. Vestibulum ipsum dui, ultricies vel tristique sed, cursus vel orci. 
                            Nullam sit amet accumsan arcu, id tincidunt urna.</p>
                        <a href="#" class="btn btn-outline-danger">SAIBA MAIS</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                VIDEO
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">NOSSAS ESPECIALIDADES</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-2">
                <img src="holder.js/80x80" class="img text-center" />
                <h4>TITULO</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id dolor varius, sodales tellus vehicula, iaculis mi. 
                    Sed sit amet neque interdum, mollis magna nec, commodo ante. Etiam ut tortor nec massa congue sollicitudin a eu risus. 
                    Vestibulum ipsum dui, ultricies vel tristique sed, cursus vel orci.</p>
            </div>
            <div class="col-md-2">
                <img src="holder.js/80x80" class="img text-center" />
                <h4>TITULO</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id dolor varius, sodales tellus vehicula, iaculis mi. 
                    Sed sit amet neque interdum, mollis magna nec, commodo ante. Etiam ut tortor nec massa congue sollicitudin a eu risus. 
                    Vestibulum ipsum dui, ultricies vel tristique sed, cursus vel orci.</p>
            </div>
            <div class="col-md-2">
                <img src="holder.js/80x80" class="img text-center" />
                <h4>TITULO</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id dolor varius, sodales tellus vehicula, iaculis mi. 
                    Sed sit amet neque interdum, mollis magna nec, commodo ante. Etiam ut tortor nec massa congue sollicitudin a eu risus. 
                    Vestibulum ipsum dui, ultricies vel tristique sed, cursus vel orci.</p>
            </div>
            <div class="col-md-2">
                <img src="holder.js/80x80" class="img text-center" />
                <h4>TITULO</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id dolor varius, sodales tellus vehicula, iaculis mi. 
                    Sed sit amet neque interdum, mollis magna nec, commodo ante. Etiam ut tortor nec massa congue sollicitudin a eu risus. 
                    Vestibulum ipsum dui, ultricies vel tristique sed, cursus vel orci.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12">
                <p>FOTOS</p>
                <a href="#" class="btn btn-outline-primary">VER MAIS</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                DEPOIMENTO
            </div>
        </div>
    </div>
{% endblock %}